@import '../../styles/base.scss';

.button {
    color: $color-black;
    height: 30px;
    padding: 10px 15px;
    text-align: center;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-size: 24px;
    border: 1px solid $color-yellow;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    background: $color-yellow;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.button:hover{
    background-color: $color-white;
}