$color-white: #ffffff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

$color-black: #000000;
$color-yellow: #f8e71c;
$color-font-register-grey: #969ca3;